
.style-0 {
    background: rgb(255, 255, 255);
    cursor: auto;
    cursor: auto;
    background-color: rgb(255, 255, 255);
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(33, 37, 41);
    text-align: left;
    box-sizing: border-box;
    --google-blue-600: rgb(26, 115, 232);
    --primary-button-fill-color: rgb(26, 115, 232);
    --primary-button-text-color: #fff;
    scroll-behavior: smooth;
    text-rendering: optimizespeed;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-1 {
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-2 {
    background: #fff;
    border-bottom: .5px solid rgba(0, 0, 0, .15)display:block;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    height: 55px;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgb(229, 231, 235) rgb(229, 231, 235) rgba(0, 0, 0, 0.15);
}

.style-3 {
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    overflow: hidden;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-4 {
    width: 25% !important;
    box-sizing: border-box;
    float: left;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-5 {
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-6 {
    overflow: hidden;
    vertical-align: middle;
    box-sizing: border-box;
    height: 54px;
    color: rgb(8, 102, 255);
    display: block;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-7 {
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-8 {
    box-sizing: border-box;
    fill: rgb(255, 255, 255);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-9 {
    margin-bottom: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-10 {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 10px;
    width: 98%;
    margin: 5vh auto auto;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
}

.style-11 {
    font-size: 19px;
    line-height: 22.8px;
    margin-top: 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 700;
    margin-bottom: 3px;
    margin: 0px 0px 3px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-12 {
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    line-height: 24px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-13 {
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    line-height: 24px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-14 {
    box-sizing: border-box;
    text-align: left;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-15 {
    margin-bottom: 20px;
    position: relative;
    padding-left: 15px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px 0px, rgba(0, 0, 0, 0.1) 0px 0px 4px 0px;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    min-height: 30px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-16 {
    border-collapse: collapsebox-sizing:border-box;
    caption-side: bottom;
    box-sizing: border-box;
    text-indent: 0px;
    border-color: rgb(229, 231, 235);
    border-width: 0px;
    border-style: solid;
}

.style-17 {
    box-sizing: border-box;
    border-color: rgb(229, 231, 235);
    border-style: solid;
    border-width: 0px;
}

.style-18 {
    box-sizing: border-box;
    border-color: rgb(229, 231, 235);
    border-style: solid;
    border-width: 0px;
}

.style-19 {
    box-sizing: border-box;
    border-color: rgb(229, 231, 235);
    border-style: solid;
    border-width: 0px;
}

.style-20 {
    color: #1b74e4;
    text-decoration: nonebackground-color:rgba(0, 0, 0, 0);
    box-sizing: border-box;
    text-decoration-skip-ink: auto;
    font-weight: 700;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-21 {
    border: solid 1px rgba(0, 0, 0, 0.15);
    border-radius: 50%vertical-align:middle;
    border-style: solid;
    box-sizing: border-box;
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.15);
}

.style-22 {
    box-sizing: border-box;
    border-color: rgb(229, 231, 235);
    border-style: solid;
    border-width: 0px;
}

.style-23 {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.88);
    margin-left: 8px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-24 {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: rgb(20, 24, 35);
    padding: 10px 0px 20px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-25 {
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-26 {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    text-decoration-skip-ink: auto;
    font-weight: 700;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-27 {
    background: rgb(26, 115, 232);
    width: 100%;
    font-size: 16px;
    line-height: 0px;
    border-radius: 5px;
    cursor: pointerbackground-color:rgb(26, 115, 232);
    border-color: rgb(0, 123, 255);
    display: block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid rgb(0, 123, 255);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: button;
    text-transform: none;
    overflow: visible;
    margin: 0px;
    box-sizing: border-box;
    float: right;
    height: 40px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-weight: 700;
    font-family: Helvetica, Arial, sans-serif;
    --bs-btn-padding-y: .5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-border-radius: 6px;
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-btn-font-family: ;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-border-width: 1px;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    --bs-btn-disabled-opacity: .65;
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(49, 132, 253, .5);
    text-decoration: none solid rgb(255, 255, 255);
    background-image: none;
    font-feature-settings: normal;
    font-variation-settings: normal;
    border-width: 1px;
    border-style: solid;
}

.style-28 {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 21px;
    color: rgb(115, 115, 115);
    margin-top: 50px;
    font-weight: 600;
    text-align: center;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}

.style-29 {
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
}
